<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haters Gonna Hate</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Roboto" rel="stylesheet">
</head>
<body>
    {% block content %}
        {% include 'header.html' %}
        <div id="spacer">&nbsp</div>
        <div class="container" id="content">
            <div class="row">
                {% include 'social-media-list.html' %}
                {% include 'blocked-list.html' %}
            </div>
        </div>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>