{% extends 'index.html' %}
{% block content %}
    <div class="col-md-6" id="social-media">
        <div id="social-media-list">
            <h3>Social Media Accounts</h3>
            <ul>
                <li><a href="#" class="btn btn-primary">Twitter</a></li>
                <li><a href="#" class="btn btn-primary">LinkedIn</a></li>
                <li><a href="#" class="btn btn-default" data-toggle="modal" data-target="#newSocialModal">Add Social Media</a></li>
            </ul>
        </div>
    </div>
    {% include 'social-media-modal.html' %}
{% endblock %}